.third-login-36{
	position: relative;
	height: 36px;
	width:36px;
	display: block;
	cursor: pointer;
	background-image: url(../img/newOfficial/third-part-login-36.png-1306281459.png)/*tpa=http://337.eleximg.com/337/v3static/img/newOfficial/third-part-login-36.png?1306281459*/;
	background-repeat: no-repeat;
	color: rgb(255, 255, 255);
	font-size: 16px;
	text-align: center;
	float: left;
	margin: 2px;
}
.third-login-36:hover{
	background-image: url(../img/newOfficial/third-part-login-36-hover.png)/*tpa=http://337.eleximg.com/337/v3static/img/newOfficial/third-part-login-36-hover.png*/;
}
.third-login-48{
	display: block;
	position: relative;
	height: 48px;
	width:48px;
	display: block;
	cursor: pointer;
	background-image: url(../img/newOfficial/third-part-login-48.png-1306281459.png)/*tpa=http://337.eleximg.com/337/v3static/img/newOfficial/third-part-login-48.png?1306281459*/;
	background-repeat: no-repeat;
	color: rgb(255, 255, 255);
	font-size: 16px;
	text-align: center;
	float:left;
	margin:2px;
}
.third-login-48:hover{
	background-image: url(../img/newOfficial/third-part-login-48-hover.png)/*tpa=http://337.eleximg.com/337/v3static/img/newOfficial/third-part-login-48-hover.png*/;
}
.third-login-30{
	display: block;
	position: relative;
	height: 30px;
	width:30px;
	display: block;
	cursor: pointer;
	background-image: url(../img/newOfficial/third-part-login-30.png)/*tpa=http://337.eleximg.com/337/v3static/img/newOfficial/third-part-login-30.png*/;
	background-repeat: no-repeat;
	color: rgb(255, 255, 255);
	font-size: 16px;
	text-align: center;
	float:left;
	margin:2px;
}
.third-login-30:hover{
	background-image: url(../img/newOfficial/third-part-login-30-hover.png)/*tpa=http://337.eleximg.com/337/v3static/img/newOfficial/third-part-login-30-hover.png*/;
}
.login-fb-36{
	background-position: 0px 0px;
}
.login-google-36{
	background-position: 0px -36px;
}
.login-orkut-36{
	background-position: 0px -108px;
}
.login-baha-36{
	background-position: 0px -180px;
}
.login-twitter-36{
	background-position: 0px -72px;
}
.login-msn-36{
	background-position: 0px -144px;
}
.login-yahoo-36{
	background-position: 0px -252px;
}
.login-gamebase-36{
	background-position: 0px -216px;
}

.login-fb-48{
	background-position: 0px 0px;
}
.login-google-48{
	background-position: 0px -48px;
}
.login-orkut-48{
	background-position: 0px -96px;
}
.login-baha-48{
	background-position: 0px -240px;
}
.login-twitter-48{
	background-position: 0px -144px;
}
.login-msn-48{
	background-position: 0px -192px;
}
.login-yahoo-48{
	background-position: 0px -288px;
}
.login-gamebase-48{
	background-position: 0px -336px;
}


.login-fb-30{
	background-position: 0px 0px;
}
.login-google-30{
	background-position: 0px -30px;
}
.login-orkut-30{
	background-position: 0px -90px;
}
.login-baha-30{
	background-position: 0px -210px;
}
.login-twitter-30{
	background-position: 0px -120px;
}
.login-msn-30{
	background-position: 0px -60px;
}
.login-yahoo-30{
	background-position: 0px -150px;
}
.login-gamebase-30{
	background-position: 0px -180px;
}




















